/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading {
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto 80px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-heading::before,
.main-heading::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.main-heading::before {
  left: -30px;
}
.main-heading::after {
  right: -30px;
}
.main-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-heading:hover::before {
  z-index: -1;
  animation: reast-radius-left 0.5s linear forwards;
}
.main-heading:hover::after {
  z-index: -1;
  animation: reast-radius-right 0.5s linear forwards;
}
@keyframes reast-radius-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes reast-radius-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* end global rules */
/* start header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
}
.header .logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  color: black;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  transition: var(--main-transition);
  background-color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #eeeeee;
}
.header .container .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #eeeeee;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
/* end header */
/* start landing */
.landing {
    position: relative;
}
.landing::before {
  content: "";
  background-color: #ececec;
  position: absolute;
  left: 0;
  top: -40px;
  transform: skewY(-6deg);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: top left;
}
.landing .container {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  min-height: calc(100vh - 72px);
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 30px;
  }
}
.landing .text p {
  font-size: 25px;
  line-height: 1.6;
  color: #777;
  margin: 5px 0 0;
  max-width: 500px
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 3s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
@keyframes up-and-down {
  0% {
    top: 0px;
  }
  50% { 
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  position: relative;
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
/* end landing */
/* start articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box .text {
  padding: 20px;
}
.articles .box .text h3 {
  margin: 0;
}
.articles .box .text p {
  color: #777;
  line-height: 1.6;
  margin: 10px 0 0;
}
.articles .box .bottom-text {
  padding: 20px;
  border-top: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .bottom-text a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .bottom-text i {
  color: var(--main-color);
}
.articles .box .bottom-text:hover i {
  animation: move-arrow 0.5s linear infinite;
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* end articles */
/* strat gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: full 0.7s;
}
@keyframes full {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.2);
}
/* end gallery */
/* start features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .container .box {
  flex-basis: 31%;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .features .container .box {
    flex-basis: 48%;
  }
  .features .container .box:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .features .container {
    flex-direction: column;
  }
  .features .container .box .image::after {
    display: none;
  }
  .features .container .box .text {
    margin-top: 30px;
  }
}
.features .container .box img {
  max-width: 100%;
}
.features .container .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .box-1 .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}
.features .container .box-2 .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 150, 136, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}
.features .container .box-3 .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(3, 169, 244, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}
.features .container .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .container .box:hover .image::after {
  border-width: 170px 500px 170px 0;
}
.features .container .box .text h1 {
  position: relative;
  width: fit-content;
  margin: auto;
  font-size: 40px;
}
.features .container .box .text h1::after {
  content: "";
  width: calc(100% - 30px);
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.features .container .box-1 .text h1::after {
  background-color: orangered;
}
.features .container .box-2 .text h1::after {
  background-color: #009687;
}
.features .container .box-3 .text h1::after {
  background-color: #03a8f4;
}
.features .container .box .text p {
  line-height: 2;
  color: #777;
  margin: 30px 0;
  padding: 25px;
  font-size: 20px;
}
.features .container .box .text a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto 30px;
  border-radius: 10px;
  width: fit-content;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
.features .container .box-1 .text a {
  border: 3px solid orangered;
  color: orangered;
}
.features .container .box-2 .text a {
  border: 3px solid #009687;
  color: #009687;
}
.features .container .box-3 .text a {
  border: 3px solid #03a8f4;
  color: #03a8f4;
}
.features .container .box a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  z-index: -1;
  transition: var(--main-transition);
}
.features .container .box-1 a::before {
  background-color: orangered;
}
.features .container .box-2 a::before {
  background-color: #009687;
}
.features .container .box-3 a::before {
  background-color: #03a8f4;
}
.features .container .box:hover a {
  color: white;
}
.features .container .box:hover a::before {
  left: 0;
}
/* end features */
/* start testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials .container .box img {
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  right: -10px;
  top: 0;
  transform: translateY(-50%);
  border: 10px solid var(--section-background);
}
.testimonials .container .box h3 {
  margin: 0;
}
.testimonials .container .box span {
  display: block;
  margin: 10px 0;
  color: #777;
}
.testimonials .container .box .rate i.filled {
  color: #ffc107;
}
.testimonials .container .box p {
  line-height: 1.6;
  color: #777;
  margin: 10px 0 0;
}
/* end testimonials */
/* start team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .container .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .icons {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .icons a {
  color: var(--main-color);
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .icons i {
  transition: var(--main-transition);
}
.team .box:hover .data .icons a i {
  color: #777;
}
.team .box .data .icons a:hover i {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  transition: var(--main-transition);
  margin-bottom: 0;
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
  transition: var(--main-transition);
}
.team .box:hover .info h3,
.team .box:hover .info p {
  color: #777;
}
/* end team */
/* start services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  text-align: center;
  background-color: white;
}
.services .container .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box i {
  margin-top: 30px;
  color: #ccc;
}
.services .container .box h3 {
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
}
.services .container .box .info {
  position: relative;
  padding: 15px;
  text-align: right;
  overflow: hidden;
  background-color: #f6f6f6;
  margin-top: 40px;
}
.services .container .box .info::before {
  content: "0" counter(services);
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .container .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .container .box .info a {
  color: var(--main-color);
}

/* end services */
/* start our skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .info div {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skills .info span::before {
  content: attr(data-progress);
  color: var(--main-color);
  padding: 4px;
  border: 1px solid #777;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20%;
  text-align: center;
  position: absolute;
  right: 0;
  top: -40px;
}
.our-skills .skills .info div span {
  display: block;
  width: 80%;
  height: 30px;
  background-color: var(--main-color);
}
.our-skills .skills .info h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end our skills */
/* start work steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.work-steps .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container .image {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .container .image {
    margin: 0 0 50px;
  }
}
.work-steps .container .work-box .box {
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .work-steps .container .work-box .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .container .work-box .box img {
  width: 70px;
  margin: 0 30px 0 0;
}
@media (max-width: 767px) {
  .work-steps .container .work-box .box img {
    margin: 0 0 30px;
  }
}
.work-steps .container .work-box .box .info h3 {
  font-size: 22px;
  margin: 0;
}
.work-steps .container .work-box .box .info p {
  color: #777;
  line-height: 1.6;
  font-size: 18px;
  margin-top: 10px;
}
.work-steps .container .work-box .box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .container .work-box .box:hover::before {
  width: 100%;
  height: 100%;
}
/* end work steps */
/* start events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.events img.first {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}
.events img.second {
  position: absolute;
  left: 0;
  bottom: 30%;
  transform: translateY(50%);
}
@media (max-width: 991px) {
  .events img.first,
  .events img.second {
    display: none;
  }
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events .container img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}
.events .container .info {
  flex: 1;
}
.events .container .info .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}
.events .container .info .time .unit {
  width: 75px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  text-align: center;
  transition: var(--main-transition);
}
.events .container .info .time .unit span:first-child {
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px 10px;
}
.events .container .info .time .unit span:last-child {
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .container .info h2 {
  font-size: 30px;
  text-align: center;
  margin: 40px 0 0;
}
.events .container .info p {
  text-align: center;
  line-height: 1.6;
  color: #777;
  font-size: 19px;
}
.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .container .subscribe form {
  width: 600px;
  background-color: #f6f5f5;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
  }
}
.events .container .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"] {
    border-radius: 10px;
  }
}
.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .container .subscribe form input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 10px;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end events */
/* start pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.pricing img.first {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}
.pricing img.second {
  position: absolute;
  left: 0;
  bottom: 30%;
  transform: translateY(50%);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .box {
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
.pricing .container .box::after,
.pricing .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
.pricing .container .box::before {
  left: 0;
  top: 0;
}
.pricing .container .box:hover::after,
.pricing .container .box:hover::before {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box:nth-child(2) {
    top: -20px;
  }
}
.pricing .container .box h3 {
  font-size: 25px;
  font-weight: bold;
}
.pricing .container .box img {
  width: 80px;
}
.pricing .container .box .sale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0 15px;
}
.pricing .container .box .sale span:first-child {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.pricing .container .box .sale span:last-child {
  color: #777;
}
.pricing .container .box .data ul li {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
}
.pricing .container .box .data ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.pricing .container .box .data a {
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .container .box .data a:hover {
  background-color: var(--main-color);
  color: white;
  border-color: var(--main-color-alt);
}
.pricing .container .box .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  right: 20px;
  top: 0;
  width: 40px;
}
.pricing .container .box .label::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
/* end pricing */
/* start video */
.video {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.video .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .video .holder {
    flex-direction: column;
  }
}
.video .holder .info {
  min-width: 300px;
  background-color: white;
}
.video .holder .info .head {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.video .holder .info ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.video .holder .info ul li:hover p {
  color: var(--main-color);
}
.video .holder .info ul li p {
  margin: 0 0 10px 0;
  transition: var(--main-transition);
}
.video .holder .info ul li span {
  color: #777;
}
.video .holder .stream {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e2e2e2;
}
.video .holder .stream img {
  max-width: 100%;
}
.video .holder .stream span {
  display: block;
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/* end video */
/* start stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  min-height: 300px;
}
.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.95);
  position: absolute;
  left: 0;
  top: 0;
}
.stats h2 {
  position: relative;
  margin: 0 auto 50px;
  width: fit-content;
  font-size: 40px;
}
.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .box {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .container .box i {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.stats .container .box .text {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
/* end stats */
/* start discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .left {
  flex-basis: 50%;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
.discount .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .left {
    flex-basis: 100%;
  }
}
.discount .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .right {
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .discount .right {
    margin-bottom: 50px;
  }
}
.discount .left .info {
  text-align: center;
  padding: 0 20px;
}
.discount .left .info h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .left .info p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .left img {
  width: 300px; 
  max-width: 100%;
}
.discount .right .info h2 {
  font-size: 40px;
  color: black;
}
.discount .right .info .input {
  display: block;
  background-color: #f4f4f4;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  caret-color: var(--main-color);
  border-bottom: 1px solid #777;
  border-radius: 5px;
}
.discount .right .info textarea {
  resize: none;
  height: 200px;
}
.discount .right .input:focus {
  outline: none;
}
.discount .right .info input[type="submit"] {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .right .info input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end discount */
/* start footer */
.footer {
  padding: 70px 0 0;
  background-color: #191919;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h2 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .icons {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .icons {
    justify-content: center;
  }
}
.footer .box .icons a {
  background-color: #313131;
  color: #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  margin-right: 10px;
  border-radius: 2px;
}
.footer .box .icons .facebook:hover {
  background-color: #1877f2;
}
.footer .box .icons .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .icons .youtube:hover {
  background-color: #ff0000;
}
.footer .box p {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #eeeeee2a;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a:before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.8;
  color: #b9b9b9;
  flex: 1;
}
@media (max-width: 767px) {
  .footer .box .line .info span.nowrap {
    display: inline;
  }
}
.footer .box .line .info span {
  display: block;
}
.footer .container .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */